@import "../../styles/variables.scss";

.text {
  color: $white;
  font-size: 14px;
  background-color: $background;
  padding: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #2d2d32;
    opacity: 0.8;
  }
}

.address {
  margin-right: 8px;
  height: 100%;
  width: 100%;
}

.notSupportedChain {
  color: $dark;
  background-color: #ed4337;
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  border-radius: 5px;
}
