@import "../../styles/variables";

.container {
  background-color: $dark;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  height: 90px;

  .github {
    position: absolute;
    left: 20px;
    padding: 5px;
    color: $white;
  }
}
