@import "./styles/variables.scss";

.button {
  cursor: pointer;
  border: #2d2d32 2px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #2c3032;
  color: $white;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
